{% extends 'base.html.twig' %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
    {%  if  is_granted ( 'IS_AUTHENTICATED_FULLY' )  %} 
        <div class="row">
            <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
            <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
            <a href="" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
        </div>
    {%  endif  %} 
            {% for task in tasks %}
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="pull-right">
                        {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                    </h4>
                    <h4><a href="{{ path('app_task_show', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                    <p>{{ task.content }}</p>
                </div>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
{% endblock %}
