{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <div class="btn-group" role="group" aria-label="Basic example">
        <div type="" class="btn btn-primary">ID : {{ task.id }}</div>
        <div type="" class="btn btn-primary">Créé le {{ task.createdAt ? task.createdAt|date('Y-m-d H:i:s') : '' }}</div>
        <div type="" class="btn btn-primary">{{ task.isDone ? 'Terminé' : 'En attente' }}</div>
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">{{ task.title }}</strong>
        </div>
        <div class="toast-body">
            {{ task.content }}
        </div>
    </div>

    <a class="btn btn-success" href="{{ path('task_list') }}">Liste des taches</a>

{% endblock %}
